.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.join {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.create-btn {
  width: 100%;
}

.message-box {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: stretch;
}

.messages {
  overflow-y: scroll;
  flex: 1;
  width: 100%;
}

.inputs {
  padding: 10px;
  display: flex;
}

h2 {
  text-align: center;
}

#message {
  flex: 1;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.muted {
  font-size: 10px;
  color: darkgray;
}

body {
  background-image: url('/static/background.jpg'); /* This points to the static folder */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh; /* Ensure the body takes the full height of the viewport */
  margin: 0;
}

.activity-board {
  padding: 20px;
}

.responses {
  margin-bottom: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.response-bubble {
  background-color: #f0f0f0;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  max-width: 80%;
  word-wrap: break-word;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.inputs {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

#activity {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#send-btn {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#send-btn:hover {
  background-color: #45a049;
}
