{% extends 'base.html' %} {% block content %}
<div class="game-board">

  <!-- Timer Display -->
  <div class="timer-container">
    <svg class="countdown-svg" width="80" height="80" viewBox="0 0 100 100">
      <circle class="countdown-circle-bg" cx="50" cy="50" r="45"></circle>
      <circle class="countdown-circle" cx="50" cy="50" r="45"></circle>
      <text id="timer-text" x="50" y="55" text-anchor="middle" font-size="20px" fill="#fff"
        transform="rotate(90, 50, 50)">
        60
      </text>
    </svg>
  </div>

  <h2>Time to Play!</h2>
  <p>You will have to battle it out.</p>

  <div class="activities-list" id="activities-list"></div>
</div>




<!-- Import External Timer Script -->
<script src="{{ url_for('static', filename='js/timer.js') }}"></script>

{% endblock %}
